@font-face {
   font-family: 'Futura Book';
   font-display: swap;
   src: url('file:///Users/nicolekotwicki/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-09-30_215141/fonts/Futura%20Book/font.ttf');
}
