@font-face {
   font-family: 'Parnaso-Bold';
   font-display: swap;
   src: url('Parnaso-Bold/font.woff');
}
@font-face {
   font-family: 'Futura Book';
   font-display: swap;
   src: url('Futura Book/font.ttf');
}
